<html>
{% load static %}
<head>
	<title>Customer Relationship Management System</title>

	<link rel="stylesheet" href="{% static 'dist/css/bootstrap.min.css' %}">
	
	<link rel="stylesheet" href="{% static 'dist/style.css' %}">
	<script src="{% static 'dist/jquery-3.5.1.js' %}"></script>
	
</head>
<body>
	
	{% include 'accounts/navbar.html' %}
	
	<section class="content">
    	<div class="container-fluid">
		{% block content %}

		{% endblock %}
		</div>
	</section>

	
	<footer class="page-footer font-small">
  		<div class="footer-copyright text-center py-3">
  			© 2020 Copyright: Customer Relationship Management System
  		</div>
	</footer>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="{% static 'dist/js/bootstrap.min.js' %}"></script>
</body>
</html>